{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

 <div class="container">

 <h1>{{ title }}</h1>
    <p>Torre Profile</p>
<br>
    <p>Education</p>  
<hr>
   <br>
	<li>Category: {{torre_profile[0].category}}</li>
	<li>Name: {{torre_profile[0].name}}</li>
	<li>From: {{torre_profile[0].fromMonth}} {{torre_profile[0].fromYear}}</li>
	<li>To: {{torre_profile[0].toMonth}} {{torre_profile[0].toYear}}</li>
		
<hr>

 <a href="/auth/linkedin" class="btn btn-default">Update with LinkedIn</a>

<br><br>
 </div>

{% endblock %}
