{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  
<div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg');"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="images/profile.jpg" alt="Image"/></a></div>
          <div class="h2 title">{{user.name}}</div>
          <p class="category text-white">{{user.headline}}</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
       
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>{{user.summary}}</p>
          </div>
        
    </div>
  </div>
</div>

 <div class="container">

   

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Torre Achievements</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{torre_profile[0].fromMonth}} {{torre_profile[0].fromYear}}- Present</p>
            <div class="h5">{{torre_profile[0].name}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{torre_profile[0].name}}</div>
            <p>{{torre_profile[0].additionalInfo}}</p>
		</div>
        </div>
      </div>
    </div>
   
  
  </div>
</div>
 

<br><br>

 </div>

{% endblock %}
